<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juziku.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <!-- 引入测试库 -->
        <uses-library android:name="android.test.runner" />
        <activity
            android:name=".AndroidDemo4Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!--表示被测试的目标包与instrumentation的名称-->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.juziku.demo" />
    
</manifest>